<html layout:decorate="~{layout/layout2}">
    <div layout:fragment="content" class="container my-3">
        <div>
            <form id="productForm" name="productForm" action="/product/modify" th:action="@{/product/modify}" method="post">
                <input type="hidden" id="productId" name="productId" th:value="${product.productId}">
                <div class="form-group">
                    <label for="productName">상품명</label>
                    <input type="text" class="form-control" id="productName" name="productName" th:value="${product.productName}" required>
                    <small class="text-danger" th:errors="${productDTO.productName}"></small>
                </div>
                <div class="form-group">
                    <label for="description">카테고리 설명</label>
                    <input type="text" class="form-control" id="description" name="description" th:value="${product.description}">
                    <small class="text-danger" th:errors="${productDTO.description}"></small>
                </div>
                <div class="form-group">
                    <label for="price">가격</label>
                    <input type="number" class="form-control" id="price" name="price" th:value="${product.price}" required>
                    <small class="text-danger" th:errors="${productDTO.price}"></small>
                </div>
                <div class="form-group">
                    <label for="categoryId">카테고리</label>
                    <select class="form-control" id="categoryId" name="categoryId" th:value="${productDTO.categoryId}" required>
                        <option th:each="category : ${categoryList}" th:value="${category.categoryId}" th:text="${category.categoryName}"></option>
                    </select>
                    <small class="text-danger" th:errors="${productDTO.categoryId}"></small>
                </div>
                
                <button type="submit" id="btnSubmit" class="btn btn-primary">저장</button>
            </form>
        </div>
    </div>
</html>
