<html layout:decorate="~{layout/layout2}">
    <div layout:fragment="content" class="container my-3">
        <div>
            <form id="memberForm" name="memberForm" action="/member/modify" th:action="@{/member/modify}" method="post">
                <input type="hidden" id="email" name="email" th:value="${member.email}">
                <input type="hidden" id="password" name="password" th:value="${member.password}">
                <div class="form-group">
                    <label for="name">회원명</label>
                    <input type="text" class="form-control" id="name" name="name" th:value="${member.email}" required>
                    <small class="text-danger" th:errors="${memberDTO.name}"></small>
                </div>
                <div class="form-group">
                    <label for="description">주소</label>
                    <input type="text" class="form-control" id="address" name=""address"" th:value="${member.address}">
                    <small class="text-danger" th:errors="${memberDTO.address}"></small>
                </div>
                
                <button type="submit" id="btnSubmit" class="btn btn-primary">저장</button>
            </form>
        </div>
    </div>
</html>
