<html layout:decorate="~{layout/layout2}">
    <div layout:fragment="content" class="container my-3">
        <div>
            <form id="memberForm" name="memberForm" action="/member/save" 
            	th:action="@{/member/register}" 
            	
            	method="post">
                <div class="form-group">
                
                	<label for="memberEmail">멤버 이메일</label>
                	<input type="text" class="form-control" id="memberEmail" name="email" th:value="${member.email}">
                	
                	<label for="memberPassword">멤버 비밀번호</label>
                	<input type="text" class="form-control" id="memberPassword" name="password" th:value="${member.password}">
                
                    <label for="memberName">멤버 이름</label>
                    <input type="text" class="form-control" id="memberName" name="name" 
                    					th:value="${member.name}" required>
                    <small class="text-danger" th:errors="${memberDTO.name}"></small>
                
                
                    <label for="memberAddress">멤버 주소</label>
                    <input type="text" class="form-control" id="memberAddress" name="address"
                    							th:value="${member.address}">
                    <small class="text-danger" th:errors="${memberDTO.address}"></small>
                
                </div>
                <button type="button" id="btnSubmit" class="btn btn-primary">저장</button>
            </form>
        </div>
    </div>
</html>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
$(document).ready(function() {
    $('#btnSubmit').on('click', function(event) {
    	
        event.preventDefault();
       
        // 테스트용으로 주석처리함
        /*
        var categoryName = $('#categoryName').val();
        var description = $('#description').val();        
        if (categoryName.trim() === '') {
            alert('카테고리명을 입력하세요.');
            return;
        }
        */
        
        // submit
        $('#memberForm').submit();
    });
});
</script>
