<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout/layout2}">
    <div layout:fragment="content" class="container my-3">
        <h1 class="mt-4">Category Details</h1>
        
        <table class="table">
            <tbody>
                <tr>
                    <th>카테고리 ID:</th>
                    <td th:text="${category.categoryId}"></td>
                </tr>
                <tr>
                    <th>카테고리명:</th>
                    <td th:text="${category.categoryName}"></td>
                </tr>
                <tr>
                    <th>설명:</th>
                    <td th:text="${category.description}"></td>
                </tr>
                <tr>
                    <th>카테고리 등록일:</th>
                    <td th:text="${#temporals.format(category.regDate, 'yyyy/MM/dd')}"></td>
                </tr>
            </tbody>
        </table>
        
        <a th:href="@{/category/list}">
            <button type="button" class="btn btn-outline-primary">Back to List</button>
        </a>
        <a th:href="@{/category/modify(categoryId = ${category.categoryId})}">
            <button type="button" class="btn btn-outline-success">Modify</button>
        </a>       
		<a th:href="@{/category/delete/{categoryId}(categoryId=${category.categoryId})}">
		    <button type="button" class="btn btn-outline-warning">Delete</button>
		</a>
    
        
    </div>
</html>
